fastapi
uvicorn
pymongo
motor
pydantic
python-dotenv
python-multipart
python-jose
passlib
bcrypt
httpx
requests
google-generativeai
stripe
cloudinary
pandas
numpy
google-api-core
grpcio-status
protobuf
